/* Display dropdown as inline-block */
.dropdown {
    display: inline-block;
}

/* Styling for the dropdown button */
.dropdown button {
    background-color: hsl(0, 0%, 80%); /* Set background color */
    color: white; /* Set text color */
    padding: 10px 15px; /* Add padding */
    border: none; /* Remove border */
    cursor: pointer; /* Set cursor style */
}

/* Styling for the dropdown links */
.dropdown a {
    display: block; /* Display links as block elements */
    color: black; /* Set text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Add padding */
}

/* Style for the dropdown content */
.dropdown .content {
    display: none; /* Hide content by default */
    background-color: hsl(0, 0%, 95%); /* Set background color */
    position: absolute; /* Set position to absolute */
    min-width: 100px; /* Set minimum width */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Add box shadow */
}

/* Display dropdown content on hover */
.dropdown:hover .content {
    display: block;
}

/* Change button background color on hover */
.dropdown:hover button {
    background-color: hsl(0, 0%, 70%);
}

/* Change link background color on hover */
.dropdown a:hover {
    background-color: hsl(0, 0%, 90%);
}
